.top {
    font-size: 18px;
    line-height: 40px;
    height: 50px;
    text-align: center;
    padding: 5px;
    color: #fff;
}

.top_bg {
    background-color: #2add9c;
    height: 50px;
}

.navbar {
    margin-bottom: 10px;
}

@media only screen and (min-width: 100px) and (max-width: 600px) {
    #grade {
        background: transparent;
        border: 1px solid #999;
        border-radius: 4px;
        width: 30%;
        margin: 2% 1%;
        transition: all 0.3s;
        text-align: center;
    }

    #grade:focus {
        border: 1px solid #2add9c;
        transition: all 0.3s;
        color: #fff;
        background: #2add9c;
    }

    #Grade a {
        color: #222;
    }

    #_Grade a {
        color: #222;
    }

    #_Grade p {
        color: #888;
        font-size: 16px;
        margin-bottom: 12px;
    }

    #other iframe {
        margin-top: 20px;
    }

    #Level p {
        color: #888;
        font-size: 16px;
        margin-bottom: 12px;
    }

    #Level a {
        color: #222;
    }

    #level {
        background: transparent;
        border: 1px solid #999;
        border-radius: 4px;
        width: 30%;
        margin: 2% 1%;
        transition: all 0.3s;
        text-align: center;
    }

    #level:focus {
        border: 1px solid #2add9c;
        transition: all 0.3s;
        color: #fff;
        background: #2add9c;
    }

    #cate_other iframe {
        margin-top: 20px;
    }

    .chose {
        color: #888;
        font-size: 16px;
        margin-bottom: 12px;
    }

    #text_thumb {
        width: 100%;
        display: inline;
        text-align: center;
        margin: 0px;
    }

    .textbook {
        float: left;
        display: inline;
        padding: 0px;
        margin: 5px 2px;
    }

    .text_name {
        text-align: center;
        margin-top: 0px;
        color: #333333;
        margin-bottom: 4px;
        font-size: 13px;
        font-weight: bold;
    }

    #text_a {
        padding: 0;
        margin: 2% 1%;
        width: 31%;
        float: left;
        background: transparent;
        border: 0.5px solid #ddd;
    }
}

@media only screen and (min-width: 600px) and (max-width: 8000px) {
    #grade {
        background: transparent;
        border: 1px solid #999;
        border-radius: 4px;
        width: 10%;
        margin: 1% 1%;
        transition: all 0.3s;
        text-align: center;
    }

    #grade:focus {
        border: 1px solid #2add9c;
        transition: all 0.3s;
        color: #fff;
        background: #2add9c;
    }

    #Grade a {
        color: #222;
    }

    #_Grade a {
        color: #222;
    }

    #_Grade p {
        color: #888;
        font-size: 16px;
        margin-bottom: 12px;
    }

    #other iframe {
        margin-top: 20px;
    }

    #Level p {
        color: #888;
        font-size: 16px;
        margin-bottom: 12px;
    }

    #Level a {
        color: #222;
    }

    #level {
        background: transparent;
        border: 1px solid #999;
        border-radius: 4px;
        width: 10%;
        margin: 1% 1%;
        transition: all 0.3s;
        text-align: center;
    }

    #level:focus {
        border: 1px solid #2add9c;
        transition: all 0.3s;
        color: #fff;
        background: #2add9c;
    }

    #cate_other iframe {
        margin-top: 20px;
    }

    .chose {
        color: #888;
        font-size: 16px;
        margin-bottom: 12px;
    }

    #text_thumb {
        width: 100%;
        display: inline;
        text-align: center;
        margin: 0px;
    }

    .textbook {
        float: left;
        display: inline;
        padding: 0px;
        margin: 5px 2px;
    }

    .text_name {
        text-align: center;
        margin-top: 0px;
        color: #333333;
        margin-bottom: 4px;
        font-size: 13px;
    }

    #text_a {
        padding: 0;
        margin-top: 1%;
        margin-left: 1%;
        margin-right: 1.3%;
        width: 10%;
        float: left;
        background: transparent;
        border: 0.5px solid #ddd;
    }
}

.top_img {
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: absolute;
    left: 28px;
}

.top_index {
    font-size: 18px;
    line-height: 52px;
    height: 50px;
    text-align: center;
    color: #fff;

}

.top_a:hover {
    text-decoration: none;
}

#Grade .btn {
    width: 45%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 5%;
    padding: 0px;
    background: #f2f9ec;
    border: 0.5px solid #ddd;
}

#Grade .btn:hover {
    background-color: #e4fdf4;
    border: 0.5px solid #e4fdf4;

}

#img_listen {
    width: 72%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
}

#img_word {
    width: 72%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
}

.index {
    padding: 0px;
    display: inline;
}

#conf_all {
    width: auto;
    height: 28px;
    padding: 0;
    background: #fff;
    border: 1px solid #fff;
    position: absolute;
    top: 20%;
    left: 25%;
    right: 25%;
}

.conf_name {
    text-align: center;
    margin-top: 5px;
    color: #333;
    margin-bottom: 1px;
    font-size: 12px;
    font-weight: 500;
}

#Topic p {
    font-weight: 16px;
    color: #222;
    margin-top: 10px;
}

#topic {
    width: 100%;
    padding: 0 15px;
    background: transparent;
    border: 1px solid #dddd;
    margin-bottom: -0.5px;
    border-radius: 2px;
    transition: all 0.3s;

}

#topic span {
    color: #222;
    float: left;
    padding: 8px 0;
    font-size: 12px;
    font-weight: 500;
    transition: all 0.3s;
}

#topic div {
    color: #888;
    display: inline;
}

#topic:hover {
    background: #2add9c;
    border: 1px solid #2add9c;
}

#topic:hover span {
    color: #fff;
}

#player {
    margin-top: 20px;
    border: 5px solid #f2f9ec;
}

#read_all {
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: #333;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 38%;
    transition: all 0.3s;
    float: left;
    margin: 5% 6% 5% 6%;
}

#read_all:hover {
    background: #2add9c;
    border: 1px solid #2add9c;
    color: #fff;
}

#Word .btn {
    width: 45%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 5%;
    padding: 0px;
    background: #f2f9ec;
    border: 0.5px solid #ddd;
}

#Word .btn:hover {
    background-color: #f2f9ec;
    border: 0.5px solid #f2f9ec;

}

#Word .container {
    margin-top: 10px;
}

#word_learn {
    width: 72%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
}

#Word .col-md-4 {
    display: inline;
}

.word_title {
    text-align: center;
    margin-top: 0px;
    color: #666;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
}

/* 用户注册  */
.column {
    margin-top: 0;
    text-align: center;
}

.col-sm-10 {
    text-align: center;
}

#register_background {
    overflow: hidden;
    background: url("/resources/views/home/img/home_background.jpg") no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.clearfix {
    height: 100%;
}

.lvj {
    width: 100%;
    height: 100%;
    padding: 80px;
    background-color: rgba(0, 0, 0, 0.5);
}

#register_background h3 {
    font-size: 22px;
    color: #fff;
}

#login {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 2px;
    color: #333;
    padding: 8px 40px;
    transition: all 0.3s;
    margin-top: 30px;
    width: 150px;
}

#login:hover {
    background: #2add9c;
    border: 1px solid #2add9c;
    color: #fff;
}

.alert-warning {
    height: 20px;
    margin: 10px 0;
}

.mark {
    padding: 5px 10px;
    border: 1px solid #8a6a2c;
    background: #fcfcb4;
    margin: 10px 0;
    border-radius: 5px;
}

.mark p {
    padding: 0;
    margin: 0;
    line-height: 22px;
    font-size: 12px;
    color: #8a6a2c;
}

@media only screen and (min-width: 100px) and (max-width: 980px) {
    .login_yanzheng {
        margin-top: 20px;
    }
}

.login_yanzheng {
    border: 1px solid #888;
    border-radius: 5px;
}

.login_button {
    color: #444;
}

.top_user {
    position: absolute;
    right: 28px;
    top: 5px;
    height: 40px;
}

.top_back {
    position: absolute;
    right: 28px;
    top: 10px;
    height: 30px;
}

#user {
    background: url("/resources/views/home/img/user_background.jpg") no-repeat;
    overflow: hidden;
    position: fixed;
    width: 100%;
    background-size: cover;
}

.content_user {
    width: 70px;
    margin: 30px 0;
}

@media only screen and (min-width: 100px) and (max-width: 760px) {
    .user_p1 {
        color: #f5f5f5;
        position: absolute;
        left: 100px;
        top: 40px;
        font-size: 13px;
    }

    .user_p2 {
        color: #f5f5f5;
        position: absolute;
        left: 100px;
        top: 60px;
        right: 10px;
        font-size: 13px;
    }
}

@media only screen and (min-width: 760px) and (max-width: 3000px) {
    .user_p1 {
        color: #fff;
        text-align: center;
        margin-left: 80px;
    }

    .user_p2 {
        color: #fff;
        text-align: center;
    }
}

.user_conf {
    margin-top: 130px;
}

#user_config {
    background: #fff;
    border: 1px solid #fff;
    width: 32%;
    border-radius: 0;
    transition: 0.3s;
    margin: 5px 1px;
    border-right: 1px solid #bbb;

}

#user_config2 {
    background: #fff;
    border: 1px solid #fff;
    width: 32%;
    border-radius: 0;
    margin-left: 2px;
    transition: 0.3s;

}

.user_cp1 {
    font-size: 11px;
    color: #888;
    margin: 0px;
}

.user_cp2 {
    font-size: 14px;
    color: #444;
    margin: 4px 0 0 0;
}

.border {
    border-bottom: 1px solid #bbb;
}

#logout {
    background: #fff;
    border: 1px solid #444;
    border-radius: 2px;
    color: #333;
    padding: 8px 40px;
    transition: all 0.3s;
    margin-top: 30px;
    width: 150px;
}

.video_main_video {
    list-style: none;
    float: right;
    line-height: 20px;
    display: inline;
    margin-bottom: 3px;
}

#word_a {
    transition: all 0.3s;
}

#word_a:hover {
    background: #2add9c;
}

#word_div {
    width: 100%;
    padding: 0 15px;
    background: transparent;
    border: 1px solid #dddd;
    margin-bottom: -0.5px;
    border-radius: 2px;
    transition: all 0.3s;

}

#word_div span {
    color: #222;
    float: left;
    padding: 8px 0;
    font-size: 12px;
    font-weight: 500;
    transition: all 0.3s;
}

#word_div div {
    color: #888;
    display: inline;
}

.word_name {
    font-weight: bold;
    font-size: 30px;
}

.word_mean {
    font-size: 16px;
    margin-top: 6%;
}

.word_thumb {
    width: 35%;
    float: left;
    margin-top: 6%;
    margin-right: 8%;
    margin-bottom: 6%;
}

.word_example1 {
    clear: left;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.word_example2 {
    clear: left;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 20px;
}

#con_bottom {
    padding: 0px;
    margin: 0px 15px;
    border-bottom: 1px solid #CCCCCC;
}

#word_left {
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: #333;
    width: 36%;
    transition: all 0.3s;
    float: left;
    margin: 8% 1% 0 1%;
}

#word_left:hover {
    background: #2add9c;
    border: 1px solid #2add9c;
    color: #fff;
}

#word_right {
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: #333;
    width: 36%;
    transition: all 0.3s;
    float: right;
    margin: 8% 1% 0 1%;
}

#word_right:hover {
    background: #2add9c;
    border: 1px solid #2add9c;
    color: #fff;
}

@media only screen and (min-width: 100px) and (max-width: 760px) {
    #word_left2 {
        background: transparent;
        border: 1px solid #ddd;
        border-radius: 2px;
        color: #333;
        width: 40%;
        transition: all 0.3s;
        float: left;
        margin: 8% 2% 0 3%;
    }

    #word_left2:hover {
        background: #2add9c;
        border: 1px solid #2add9c;
        color: #fff;
    }

    .word_right2 {
        background: transparent;
        border: 1px solid #ddd;
        border-radius: 2px;
        color: #333;
        width: 15%;
        transition: all 0.3s;
        float: right;
        margin: 0 2% 0 3%;
        display: inline;

    }

    .word_right2:hover {
        border-color: rgba(42, 221, 156, 0.8);
        outline: 0;
        outline: thin dotted \9;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
        background:  #2add9c;
        color: #fff;
    }

    #word_right2 {
        background: transparent;
        border: 1px solid #ddd;
        border-radius: 2px;
        color: #333;
        width: 40%;
        transition: all 0.3s;
        float: right;
        margin: 8% 2% 0 3%;
    }

    #word_right2:hover {
        background: #2add9c;
        border: 1px solid #2add9c;
        color: #fff;
    }
}

@media only screen and (min-width: 760px) and (max-width: 8000px) {
    #word_left2 {
        background: transparent;
        border: 1px solid #ddd;
        border-radius: 2px;
        color: #333;
        width: 33%;
        transition: all 0.3s;
        float: left;
        margin: 2% 2% 0 3%;
    }

    #word_left2:hover {
        background: #2add9c;
        border: 1px solid #2add9c;
        color: #fff;
    }

    #word_right2 {
        background: transparent;
        border: 1px solid #ddd;
        border-radius: 2px;
        color: #333;
        width: 33%;
        transition: all 0.3s;
        float: right;
        margin: 2% 2% 0 3%;
    }

    #word_right2:hover {
        background: #2add9c;
        border: 1px solid #2add9c;
        color: #fff;
    }
}

#videoPlay {
    display: inline;
    text-align: center;
    margin-left: 5%;
    margin-top: 5%;
}

.ccc {
    text-align: center;
    width: 100%;
}

.container {
    width: 100%;
}

@media only screen and (min-width: 100px) and (max-width: 760px) {
    .lan_thumb {
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 5%;
    }

    #chose {
        background: transparent;
        border: 1px solid #ddd;
        border-radius: 2px;
        color: #333;
        width: 29%;
        transition: all 0.3s;
        margin: 8% 1% 6% 2%;
    }
}

@media only screen and (min-width: 760px) and (max-width: 8000px) {
    .lan_thumb {
        width: 20%;
        margin-left: 40%;
        margin-right: 40%;
        margin-top: 2%;
    }

    #chose {
        background: transparent;
        border: 1px solid #ddd;
        border-radius: 2px;
        color: #333;
        width: 29%;
        transition: all 0.3s;
        margin: 4% 1% 3% 2%;
    }
}

#chose:hover {
    background: #2add9c;
    border: 1px solid #2add9c;
    color: #fff;
}

@media only screen and (min-width: 100px) and (max-width: 760px) {
    .fm_name {
        text-align: center;
        font-size: 35px;
        font-weight: bold;
        color: #444;
        margin-top: 10%;
    }

    .ws_name {
        text-align: center;
        font-size: 30px;
        font-weight: 550;
        color: #444;
        margin-top: 10%;
        margin-bottom: 8%;
    }

    .ws_name2 {
        text-align: center;
        font-size: 35px;
        font-weight: 550;
        color: #444;
        margin-top: 10%;
        margin-bottom: 8%;
    }

    #chose2 {
        background: transparent;
        border: 1px solid #ddd;
        border-radius: 2px;
        color: #333;
        width: 80%;
        transition: all 0.3s;
        margin: 2% 10% 2% 10%;
        padding: 2%;
    }

    #chose2:hover {
        background: #2add9c;
        border: 1px solid #2add9c;
        color: #fff;
    }

    #con_bottom2 {
        padding: 0 0 5% 0;
        margin: 0px 15px;
        border-bottom: 1px solid #CCCCCC;

    }

    .self_top_div{
        margin-bottom: 5%;
    }
}

@media only screen and (min-width: 760px) and (max-width: 8000px) {
    .fm_name {
        text-align: center;
        font-size: 35px;
        font-weight: bold;
        color: #444;
        margin-top: 2%;
    }

    .ws_name {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: #444;
        margin-top: 2%;
    }

    .ws_name2 {
        text-align: center;
        font-size: 35px;
        font-weight: bold;
        color: #444;
        margin-top: 2%;
    }

    #chose2 {
        background: transparent;
        border: 1px solid #ddd;
        border-radius: 2px;
        color: #333;
        width: 40%;
        transition: all 0.3s;
        margin: 1% 30% 1% 30%;
        padding: 0.8%;
    }

    #chose2:hover {
        background: #2add9c;
        border: 1px solid #2add9c;
        color: #fff;
    }

    #con_bottom2 {
        padding: 0 0 2% 0;
        margin: 0px 15px;
        border-bottom: 1px solid #CCCCCC;

    }
}

@media only screen and (min-width: 10px) and (max-width: 760px) {

    #videoPlay_2 {
        display: inline;
        text-align: center;
        margin: 5% 0 0 0;
    }

    .input_abc {
        background: transparent;
        border: 1px solid #ddd;
        border-radius: 6px;
        color: #333;
        width: 8.5%;
        padding-top: 1.8%;
        padding-bottom: 1.8%;
        transition: all 0.3s;
        box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.25);
    }

    .input_abc:focus {
        border-color: rgba(42, 221, 156, 0.8);
        outline: 0;
        outline: thin dotted \9;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
    }

    .input_space {
        background: transparent;
        border: 1px solid #ddd;
        border-radius: 6px;
        color: #333;
        width: 25%;
        padding-top: 8px;
        padding-bottom: 8px;
        transition: all 0.3s;
        box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.25);
    }

    .input_space:focus {
        border-color: rgba(42, 221, 156, 0.8);
        outline: 0;
        outline: thin dotted \9;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
    }

    .input_other {
        background: transparent;
        border: 1px solid #ddd;
        border-radius: 6px;
        color: #333;
        width: 25%;
        padding-top: 8px;
        padding-bottom: 8px;
        transition: all 0.3s;
        box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.25);
    }

    .input_other:focus {
        border-color: rgba(42, 221, 156, 0.8);
        outline: 0;
        outline: thin dotted \9;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
    }

    .input_end {
        background: #2add9c;
        border: 1px solid #2add9c;
        border-radius: 6px;
        color: #fff;
        width: 35%;
        padding-top: 8px;
        padding-bottom: 8px;
        transition: all 0.3s;
        box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.25);
        margin: 5%;
    }

    .input_end:focus {
        border-color: rgba(42, 221, 156, 0.8);
        outline: 0;
        outline: thin dotted \9;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
    }

    .input_box {
        width: 50%;
        margin-top: 5%;
        padding: 1% 2%;
        border: 1px solid #ddd;
        border-radius: 8px;
        margin-bottom: 3%;
    }

    .input_box:focus {
        border-color: rgba(42, 221, 156, 0.8);
        outline: 0;
        outline: thin dotted \9;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
    }
}

@media only screen and (min-width: 760px) and (max-width: 8000px) {

    #videoPlay_2 {
        display: inline;
        text-align: center;
        margin: 2% 0 0 0;
        width: 6%;
    }

    .input_abc {
        background: transparent;
        border: 1px solid #ddd;
        border-radius: 6px;
        color: #333;
        width: 4%;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: all 0.3s;
        box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.25);
    }

    .input_abc:focus {
        border-color: rgba(42, 221, 156, 0.8);
        outline: 0;
        outline: thin dotted \9;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
    }

    .input_space {
        background: transparent;
        border: 1px solid #ddd;
        border-radius: 6px;
        color: #333;
        width: 15%;
        padding-top: 8px;
        padding-bottom: 8px;
        transition: all 0.3s;
        box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.25);
    }

    .input_space:focus {
        border-color: rgba(42, 221, 156, 0.8);
        outline: 0;
        outline: thin dotted \9;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
    }

    .input_other {
        background: transparent;
        border: 1px solid #ddd;
        border-radius: 6px;
        color: #333;
        width: 12%;
        padding-top: 8px;
        padding-bottom: 8px;
        transition: all 0.3s;
        box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.25);
    }

    .input_other:focus {
        border-color: rgba(42, 221, 156, 0.8);
        outline: 0;
        outline: thin dotted \9;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
    }

    .input_end {
        background: #2add9c;
        border: 1px solid #2add9c;
        border-radius: 6px;
        color: #fff;
        width: 20%;
        padding-top: 8px;
        padding-bottom: 8px;
        transition: all 0.3s;
        box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.25);
        margin: 3% 3% 1% 3%;
    }

    .input_end:focus {
        border-color: rgba(42, 221, 156, 0.8);
        outline: 0;
        outline: thin dotted \9;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
    }

    .input_box {
        width: 30%;
        margin-top: 2%;
        padding: 0.5% 1%;
        border: 1px solid #ddd;
        border-radius: 8px;
        margin-bottom: 3%;
    }

    .input_box:focus {
        border-color: rgba(42, 221, 156, 0.8);
        outline: 0;
        outline: thin dotted \9;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
    }

    .word_right2 {
        background: transparent;
        border: 1px solid #ddd;
        border-radius: 8px;
        color: #333;
        width: 8%;
        transition: all 0.3s;
        float: right;
        margin: 0 1% 0 1%;
        display: inline;

    }

    .word_right2:hover {
        border-color: rgba(42, 221, 156, 0.8);
        outline: 0;
        outline: thin dotted \9;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
        background:  #2add9c;
        color: #fff;
    }

    .self_top_div{
        margin-bottom: 1%;
    }
}

#self_a {
    color: #666;
    text-decoration: none;
}

.self_div {
    width: 30%;
    padding: 0 2% 2% 2%;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: all 0.3s;
    margin: 1% 1% 2% 2%;
    float: left;

}

.self_name1 {
    text-align: center;
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    color: #555;
}

#self_name2 {
    text-align: center;
    margin: 0;
    font-size: 13px;
}

.self_begin {
    background: #2add9c;
    border: 1px solid #2add9c;
    border-radius: 6px;
    color: #fff;
    width: 35%;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: all 0.3s;
    box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.25);
}

.self_begin:focus {
    border-color: rgba(42, 221, 156, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(42, 221, 156, 0.6);
}
@media only screen and (min-width: 760px) and (max-width: 8000px) {

    #self_a {
        color: #666;
        text-decoration: none;
    }

    .self_div {
        width: 20%;
        padding: 0 1% 1% 1%;
        background: transparent;
        border: 1px solid #ccc;
        border-radius: 6px;
        transition: all 0.3s;
        margin: 1% 2% 2% 2.5%;
        float: left;

    }

}